{% extends 'base.html' %}

{% load static %}
{% include 'contact' %}
    {% block body %}

        <!-- Home slider -->
        <div id="home" class="home-slider owl-carousel owl-theme">

            {% for home in homeAll %}
                <div class="single-slider-item item-bg1"> 
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="slider-text">
                                <h1>{{home.title}}<br>{{home.subtitle}}</h1>
                                <p>{{home.profession}}</p>
                                <a href="{% url 'portfolio:ContactPage' %}" class="slider-btn">HAVE PROJECT? LET’S TALK</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 

        </div>
        <!-- End Home slider -->

        <!-- About Me -->
        <section id="about" class="ptb-100">
            <div class="container"> 
                <div class="section-title">
                    <h2>ABOUT ME</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row"> 
                    <div class="col-md-6 col-lg-4"> 
                        <div class="profile-img wow zoomIn">
                            <img src="{{aboutAll.about_image.url}}" alt="Profile Image">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-8"> 
                        <div class="about-text">
                            <p>{{aboutAll.description}}</p>

                            <div class="row">
                                <div class="col-lg-4"> 
                                    <ul>
                                        <li>
                                            <span>NAME :</span> {{aboutAll.name}}
                                        </li>
                                        <li>
                                            <span>AGE :</span>{{aboutAll.age}}
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-8"> 
                                    <ul>
                                        <li>
                                            <span>JOB TITLE :</span>{{aboutAll.job_title}}
                                        </li>
                                        <li>
                                            <span>LOCATION :</span> {{aboutAll.location}}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="about-btn">
                                <a href="#" download class="custom-btn mr-25">DOWNLOAD CV</a>
                                <a href="#" class="custom-btn">HIRE ME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Me -->
 
        <!-- My skill -->
        <section id="skill" class="skill-section pt-100 pb-70">
            <div class="container"> 
                <div class="section-title white-title">
                    <h2>My skill</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row">
                    {% for skill in skillAll  %}
                        <div class="col-md-6 col-lg-4"> 
                            <div class="single-skill wow fadeInUp" data-wow-delay=".3s">
                                <img src="{{skill.logo.url}}" alt="Skill Image">
                                <h3>{{skill.title}}</h3>

                                <div class="progress">
                                    <div class="progress-bar progress-bg1" role="progressbar" style="width:{{skill.progress_bar}}%" aria-valuenow="{{skill.progress_bar}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End My skill -->

        <!-- My Services section -->
        <section id="services" class="pt-100 pb-70"> 
            <div class="container"> 
                <div class="section-title">
                    <h2>My Services</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>
                    
                <div class="row"> 

                    {% for service in serviceAll  %}
                        <div class="col-md-6 col-lg-4"> 
                            <div class="single-service">
                                <i class="icofont-code-alt"></i>
                                <h3>{{service.title}}</h3>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End My Services section -->

        <!-- Counter Up -->
        <div class="counter-up pt-100 pb-70">
            <div class="container">
                <div class="row">

                    {% for handel in handelAll %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="single-counter">
                                <i class="icofont-support"></i>
                                <h3>{{handel.total}}</h3>
                                <p>{{handel.title}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Counter Up -->

        <!-- Portfolio section -->
        <section id="portfolio" class="pt-100 pb-70"> 
            <div class="container"> 
                <div class="section-title">
                    <h2>My Portfolio</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <ul class="portfolio-menu">
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter=".development">DEVELOPMENT</li>
                    <li class="filter" data-filter=".design">Design</li>
                    <li class="filter" data-filter=".html">HTML</li>
                    <li class="filter" data-filter=".java">Java</li>
                </ul>

                <div id="Container" class="row">
                    <div class="col-sm-6 col-lg-4 mix development"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix design"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix html"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix java"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix development"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix design"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio section -->

        <!-- Feedback slider -->
        <div class="feedback-slider owl-carousel owl-theme">

            {% for client in clientAll %}

                <div class="single-feedback-item ptb-100">
                    <div class="feedback-text-content">
                        <div class="client-profile">
                            <img src="{{client.client_image.url}}" alt="Feedback Image">
                            <h3>{{client.title}}</h3>
                            <p>{{client.profession}}</p>
                        </div>
                        
                        <p class="feedback-text">{{client.description}}</p>

                        <ul>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>

            {% endfor %}

        </div>
        <!-- End Feedback slider -->

        <!-- My Team section -->
        <section id="team" class="pt-100 pb-70"> 
            <div class="container">
                <div class="section-title">
                    <h2>My Team</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row">
                    {% for team in teamAll %}

                        <div class="col-sm-6 col-lg-3">
                            <div class="single-team">
                                <img src="{{team.team_img.url}}" alt="Team Image">
                                <div class="team-caption">
                                    <h3>{{team.title}}</h3>
                                    <p>{{team.profession}}</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End My Team section -->

        <!-- Logo slider -->
        <div class="logo-slider owl-carousel owl-theme ptb-100">

            {% for brand in brandAll %}
                <div class="single-logo-item">
                    <a href="#">
                        <img src="{{brand.brand_image.url}}" alt="Brand Image">
                    </a>
                </div>
            {% endfor %}

        </div>
        <!-- End Logo slider -->

        <!-- Blog Section -->
        <section id="blog" class="pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Blog Post</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>
        
                <div class="row">

                    {% for blog in blogAll %}

                        <div class="col-md-6 col-lg-4">
                            <div class="single-post">
                                <a href="{{blog.read_more}}">
                                    <img src="{{blog.blog_img.url}}" alt="Blog Image">
                                </a>
                                <div class="post-caption">
                                    <ul>
                                        <li>{{blog.published|date:'d M Y'}}</li>
                                    </ul>
                                    <h3>
                                        <a href="{{blog.read_more}}">{{blog.title}}</a>
                                    </h3>
                                    <p>
                                        {{blog.description}}<a href="{{blog.read_more}}">  READ MORE...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Blog Section -->
        
       {% block contact %}
        {% include 'contact.html' %}
       {% endblock contact %}

    {% endblock body %}

   