{% extends 'base.html' %}
{% load static %}

    {% block body %}

        <!-- Home slider -->
        <div id="home" class="home-slider owl-carousel owl-theme">

            {% for home in homeAll %}
                <div class="single-slider-item item-bg1"> 
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="slider-text">
                                <h1>{{home.title}}<br>{{home.subtitle}}</h1>
                                <p>{{home.profession}}</p>
                                <a href="#contact" class="slider-btn">HAVE PROJECT? LET’S TALK</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 

        </div>
        <!-- End Home slider -->

        <!-- About Me -->
        <section id="about" class="ptb-100">
            <div class="container"> 
                <div class="section-title">
                    <h2>ABOUT ME</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row"> 
                    <div class="col-md-6 col-lg-4"> 
                        <div class="profile-img wow zoomIn">
                            <img src="{{aboutAll.about_image.url}}" alt="Profile">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-8"> 
                        <div class="about-text">
                            <p>{{aboutAll.description}}</p>

                            <div class="row">
                                <div class="col-lg-4"> 
                                    <ul>
                                        <li>
                                            <span>NAME :</span> {{aboutAll.name}}
                                        </li>
                                        <li>
                                            <span>AGE :</span>{{aboutAll.age}}
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-8"> 
                                    <ul>
                                        <li>
                                            <span>JOB TITLE :</span>{{aboutAll.job_title}}
                                        </li>
                                        <li>
                                            <span>LOCATION :</span> {{aboutAll.location}}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="about-btn">
                                <a href="#" download class="custom-btn mr-25">DOWNLOAD CV</a>
                                <a href="#" class="custom-btn">HIRE ME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Me -->
 
        <!-- My skill -->
        <section id="skill" class="skill-section pt-100 pb-70">
            <div class="container"> 
                <div class="section-title white-title">
                    <h2>My skill</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row">
                    {% for skill in skillAll  %}
                        <div class="col-md-6 col-lg-4"> 
                            <div class="single-skill wow fadeInUp" data-wow-delay=".3s">
                                <img src="{{skill.logo.url}}" alt="">
                                <h3>{{skill.title}}</h3>

                                <div class="progress">
                                    <div class="progress-bar progress-bg1" role="progressbar" style="width:{{skill.progress_bar}}%" aria-valuenow="{{skill.progress_bar}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End My skill -->

        <!-- My Services section -->
        <section id="services" class="pt-100 pb-70"> 
            <div class="container"> 
                <div class="section-title">
                    <h2>My Services</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>
                    
                <div class="row"> 

                    {% for service in serviceAll  %}
                        <div class="col-md-6 col-lg-4"> 
                            <div class="single-service">
                                <i class="icofont-code-alt"></i>
                                <h3>{{service.title}}</h3>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End My Services section -->

        <!-- Counter Up -->
        <div class="counter-up pt-100 pb-70">
            <div class="container">
                <div class="row">

                    {% for handel in handelAll %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="single-counter">
                                <i class="icofont-support"></i>
                                <h3>{{handel.total}}</h3>
                                <p>{{handel.title}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Counter Up -->

        <!-- Portfolio section -->
        <section id="portfolio" class="pt-100 pb-70"> 
            <div class="container"> 
                <div class="section-title">
                    <h2>My Portfolio</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <ul class="portfolio-menu">
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter=".development">DEVELOPMENT</li>
                    <li class="filter" data-filter=".design">Design</li>
                    <li class="filter" data-filter=".html">HTML</li>
                    <li class="filter" data-filter=".java">Java</li>
                </ul>

                <div id="Container" class="row">
                    <div class="col-sm-6 col-lg-4 mix development"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix design"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix html"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix java"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix development"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix design"> 
                        <div class="single-portfolio">
                            <img src="assets/img/portfolio/1.jpg" alt="Portfolio Image">
                            <div class="portfolio-hover">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <a href="#">
                                            <i class="icofont-search"></i>
                                        </a>
                                        <h3>Logo Design</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio section -->

        <!-- Feedback slider -->
        <div class="feedback-slider owl-carousel owl-theme">

            {% for client in clientAll %}

                <div class="single-feedback-item ptb-100">
                    <div class="feedback-text-content">
                        <div class="client-profile">
                            <img src="{{client.client_image.url}}" alt="">
                            <h3>{{client.title}}</h3>
                            <p>{{client.profession}}</p>
                        </div>
                        
                        <p class="feedback-text">{{client.description}}</p>

                        <ul>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                            <li>
                                <i class="icofont-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>

            {% endfor %}
            
        </div>
        <!-- End Feedback slider -->

        <!-- My Team section -->
        <section id="team" class="pt-100 pb-70"> 
            <div class="container">
                <div class="section-title">
                    <h2>My Team</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="single-team">
                            <img src="assets/img/team/1.jpg" alt="">
                            <div class="team-caption">
                                <h3>Violet R. Peters</h3>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="single-team">
                            <img src="assets/img/team/1.jpg" alt="">
                            <div class="team-caption">
                                <h3>Violet R. Peters</h3>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="single-team">
                            <img src="assets/img/team/1.jpg" alt="">
                            <div class="team-caption">
                                <h3>Violet R. Peters</h3>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="single-team">
                            <img src="assets/img/team/1.jpg" alt="">
                            <div class="team-caption">
                                <h3>Violet R. Peters</h3>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End My Team section -->

        <!-- Logo slider -->
        <div class="logo-slider owl-carousel owl-theme ptb-100">
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
            <div class="single-logo-item">
                <a href="#">
                    <img src="assets/img/slider-logo/1.png" alt="">
                </a>
            </div>
        </div>
        <!-- End Logo slider -->

        <!-- Blog Section -->
        <section id="blog" class="pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Blog Post</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>
        
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="single-post">
                            <a href="#">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                            <div class="post-caption">
                                <ul>
                                    <li>MAY 25 , 2017</li>
                                    <li><i class="icofont-comment"></i> 5</li>
                                </ul>
                                <h3>
                                    <a href="#">HEADLINE LATEST WORLD NEWS</a>
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="#">READ MORE...</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="single-post">
                            <a href="#">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                            <div class="post-caption">
                                <ul>
                                    <li>MAY 25 , 2017</li>
                                    <li><i class="icofont-comment"></i> 5</li>
                                </ul>
                                <h3>
                                    <a href="#">HEADLINE LATEST WORLD NEWS</a>
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="#">READ MORE...</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                        <div class="single-post">
                            <a href="#">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                            <div class="post-caption">
                                <ul>
                                    <li>MAY 25 , 2017</li>
                                    <li><i class="icofont-comment"></i> 5</li>
                                </ul>
                                <h3>
                                    <a href="#">HEADLINE LATEST WORLD NEWS</a>
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="#">READ MORE...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Section -->

        <!-- Contact form section -->
        <section id="contact" class="contact-section ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Contact Us</h2>
                    <p>I am a highly talented, experienced, professional and cooperative software engineer,I am working in programming and web world.</p>
                </div>

                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id=""  placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id=""  placeholder="Enter your email">
                                </div> 
                            </div>
                        </div>
                
                        <div class="form-group">
                            <input type="text" class="form-control" id=""  placeholder="Enter your subject">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="" rows="5" placeholder="Enter your message"></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn send-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Contact form section -->

    {% endblock body %}