{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <!-- Icofont CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <!-- Owl.carousel CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

        <title>Violet | One Page Responsive Template</title>
    </head>

    <body data-spy="scroll" data-offset="70">
        <div class="loader-content">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-hourglass"></div>
                </div>
            </div>
        </div>
  
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'portfolio:IndexPage' %}">
                    <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio:IndexPage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">ABOUT</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#skill">SKILL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">PORTFOLIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">TEAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->


        {% block body %}


        {% endblock body %}


        
        <!-- Footer area -->
        <footer class="footer">
            <div class="container">
                <div class="top-footer">
                    <h3>OBELA</h3>
                    <ul>
                        <li>
                            <i class="icofont-ui-call"></i> 
                            Hotline (+880) 1719649215
                        </li>
                        <li>
                            <i class="icofont-email"></i> 
                            mdsohag200077@gmail.com
                        </li>
                        <li>
                            <i class="icofont-location-pin"></i> 
                            West Pirmohollah 56/A
                        </li>
                    </ul>
                </div>

                <div class="bottom-footer">
                    <ul>
                        <li>
                            <a href="https://facebook.com" target="_blank"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com" target="_blank"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://linkdin.com" target="_blank"><i class="icofont-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://google.com" target="_blank"><i class="icofont-google-plus"></i></a>
                        </li>
                    </ul>
                    <p>Copyright © 2018 Themes , All Rights Reserved.</p>
                </div>
            </div>
        </footer>
        <!-- End Footer area -->



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
</html>